<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}

      Qi Gong

      {%endblock%}

    </title>
    {% load static %}<link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css">
    {% load static %}<link href="{% static 'img/Buddha_logo.png' %}" rel="icon" type="image/x-icon">
    {% load static %}<link href="{% static 'css/qigong.css' %}" rel="stylesheet" type="text/css">
    {% load static %}<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="navbar">
    {% include 'navbar.html' %}
  </div>

  <div class="background_image">
    {% load static %}<img src="{% static 'img/qigong_bg_img.jpg' %}">
    <div id="background_content">
      <img src="{% static 'img/shaolin_buddha.png' %}"><br/>
      <p Style=" font-weight: 200; font-style: italic; font-size: 2vw; padding: 20px;">Learn <b>KUNG FU</b> in</p><br/>
      <p style="margin-top: 5vh; text-shadow: 0 0 20px #fff;">SHAOLIN NEPAL</p><br/>
  </div>
  </div>

  <div id="maincontent">

    <div id="content_inside">
        <div class="styles">
            <div id="style_logo">
                {% load static %}<img src="{% static 'img/qigong_title_logo.png' %}">
                <h3> Qi Gong </h3>
            </div>

            <div class="style">

                <div class="inner_style">
                    <div class="style_img">
                    <img src="{% static 'img/qigong_img.jfif' %}">
                    </div>
                    <div class="style_text">
                    <h3>少林功夫</h3>
                    <p>
                        Although Shaolin Quan is a mixture of traditional Kung Fu styles, 
                        it also includes a profound cultural and ideological content. To a 
                        Shaolin warrior monk, the power of understanding is more critical than 
                        keeping fit and self-defence. Moreover, if one is sincere, one has the 
                        capability of knowledge at the fingertips. Only then will one be able to 
                        realize the significance of Shaolin Kung Fu.
                    </p>
                    </div>
                </div>

                <div class="mid_style_text">
                    <p>
                        In Kung Fu training, one must understand its spirit and essence. One needs to 
                        understand the philosophy of life through Kung Fu practice, attaining a balance of 
                        mind and body similar to the state of mind reached in meditation. To a Shaolin warrior 
                        monk, knowing a routine without understanding its inner meaning—Kung Fu practiced for its 
                        own sake— is only skin-deep knowledge. It is, at best, a showy performance. Kung Fu is 
                        genuine only when it combines both form and spirit.<br/><br/>
                        The profound cultural connotation expressed in Shaolin Kung Fu is fundamentally 
                        endowed by the wisdom of Chan Buddhism (Zen). Shaolin Gongfu is in the first place, 
                        the expression of a deeper spiritual goal and secondarily in the pursuit for 
                        superhuman strength. The desire for transcendental strength and wisdom are at the 
                        core of Shaolin Chan Buddhism. This is the reason behind Shaolin Kungfu appearing as 
                        a miraculous martial art and it's difference to other martial arts.
                    </p>
                </div>

                <div class="image_style">
                    <div class="style_img_1">
                        <img src="{% static 'img/shaolin_1.jpg' %}">
                    </div>
                    <div class="style_img_1">
                        <img src="{% static 'img/shaolin_2.jpg' %}">
                    </div>
                </div>

                <div class="mid_style_text">
                    <h2 style="top: 50px;">Origin</h2>
                    <p>
                        Shaolin Kung Fu is created in the Shaolin Temple, a cradle of Chinese Zen 
                        Buddhism , After continuous deliberation, practice, summarizing and promotion 
                        from generation to generation, Shaolin Kungfu has developed into a world famous 
                        Kungfu with rich contents and excellent skills. The powerful, might and mystery 
                        of Shaolin Kungfu lies in the following aspects.
                    </p>
                </div>
                <div class="mid_style_text">
                    <p>
                        TShaolin Kungfu practice can be talked about in terms of three realms:<br/>
                        In the primary realm, the practitioner practices their form and appearance.<br/>
                        
                        In the intermediate realm, there is the integration of mind and fist, changing the 
                        tangible into the intangible, turning the law into the lawless; obeying no rules, having no 
                        movement to follow, controlling the enemy in the intangible. An ancient boxing manual reads, `
                        defeat a person in the intangible or fail being seen`.<br/>
                        
                        Shaolin Kung Fu's highest realm is for all to be guided by the heart and to fight not just from 
                        form but from the formless.<br/>

                        Buddhist practice is started in the mindful training of Kung Fu. It cultivates and entails the 
                        highest integrated wisdom of Buddhism and martial arts.
                    </p>
                </div>
                <div class="mid_style_content">
                    <div class="mid_inner_content">
                        <h3>Features of Shaolin Kung Fu</h3><br/>
                        <p>
                            1.Short but precise.<br/>
                            2.Box in a line.<br/>
                            3.Casual footwork.<br/>
                            4.Roll in and out.<br/>
                            5.Integration of mind and behavior.<br/>
                            6.Bending but actually not and straight but actually not.<br/>
                            7.Rise high in a tight form and drop in a spreading way. Rise to move with 
                            an intention of advance and drop to move with an intention of retreat.<br/>
                            8.Integration of Buddhism and boxing.<br/>
                            9.Focus on defense.<br/>
                            10.Combination of attacking and defending.<br/>
                            11.Numerous tricks.<br/>
                            12.Simple and practical.<br/>
                            13.Vigorous and strong.<br/>
                            14.Numerous acts shrinking back<br/>
                            15.Numerous kicks.<br/>
                            16.Produce sounds.<br/>
                        </p>
                    </div>
                    <div class="mid_inner_img">
                        <img src="{% static 'img/mid_img.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
      <div id="footercontent">
        <h3 id="title_name"> Swoyambhu Traditional Kung Fu Training Center ( Shaolin Nepal )</h3>
        <p id="info">Nepal, Bagmati Province, Kathmandu, Swoyambhu - 15, Kimdol <br/><br/> Contact : 9861069747 , 9869749284</p>
        <div id="footer_img">
          <a href="https://www.facebook.com/ShaolinNepal/" target="_blank"><img src="{% static 'img/fb_img.png' %}" id="fb"></a>
          <a href="https://www.instagram.com/raju.nepali.3133/" target="_blank"><img src="{% static 'img/insta_img.jfif' %}" id="insta"></a></br>
        </div>
        <div id="ft_cp_text">
          <p id="#copyright_text">Copyright &copy; 2023 Shaolin Nepal | Powered by Shaolin Nepal</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>